@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 228, 230;
  --background-end-rgb: 237, 233, 254;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 44, 16, 74;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gif-container {
  position: relative;
}

.gif-container::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(45deg, #ff69b4, #4b0082);
  filter: blur(20px);
  opacity: 0.3;
  z-index: -1;
  border-radius: 2rem;
}
